@model IEnumerable<Store>
@{
    ViewData["Title"] = "Change Store Preference";
}

    <head>
        @*<meta name="viewport" content="initial-scale=1.0, user-scalable=no">*@
        <meta charset="utf-8">


        <meta name="HandheldFriendly" content="true" />

        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

        <style>
                /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
                #map {
                    height: 100%;
                }
                /* Optional: Makes the sample page fill the window. */
                html, body {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
        </style>
    </head>


    <div class="landscape" id="map"></div>
    <div class="portrait">
        <div class="background-image" style="background-image: url('../Images/map-background.jpg'); background-color: rgba(255,255,255,0.5)">

            @*<div class="container text-center">
                <div class="row">
                    <div class="col-12 mt-auto mb-auto">
                        <img class="cart-img center" style="width: 40%" src="~/Images/speedycart.png" alt="Grab&Go Logo">
                    </div>
                </div>
            </div>*@

            <div class="col-12 text-center mt-3">
                <img class="cart-img" src="~/Images/blankicon.png" alt="Grab&Go Logo">
            </div>

            <div class="form-container" style="max-width:90vw">
                <h1 class="text-center">Change Store Preference</h1>
                <h6 class="text-center text-info">(Rotate device for map view)</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StoreName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Street)
                            </th>
                            @*<th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ZipCode)
                        </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StoreName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Street)
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ZipCode)
                            </td>*@
                                <td>
                                    <a asp-action="ChangeStorePreference" asp-route-id="@item.StoreID" class="btn btn-info">Select</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        </div>

        <script>
            // Note: This example requires that you consent to location sharing when
            // prompted by your browser. If you see the error "The Geolocation service
            // failed.", it means you probably did not give permission for the browser to
            // locate you.
            var map, infoWindow;

            function initMap() {
            //    var walmartLatLng = { lat: 33.176995, lng: -117.297396 };
            //    var albertsonsLatLng = { lat: 33.178966, lng: -117.296605 };
            //    var targetLatLng = { lat: 33.184252, lng: -117.330131 };
            //    var ralphsLatLng = { lat: 33.229743, lng: -117.307269 };
            //    var commissaryLatLng = { lat: 33.227622, lng: -117.392871 };

            //    map = new google.maps.Map(document.getElementById('map'),
            //        {
            //            center: { lat: -34.397, lng: 150.644 }, zoom: 12
            //        });

            //    var marker = new google.maps.Marker({
            //        position: walmartLatLng,
            //        map: map,
            //        title: 'Walmart'
            //    });

            //    var marker = new google.maps.Marker({
            //        position: albertsonsLatLng,
            //        map: map,
            //        title: 'Alberston\'s'
            //    });

            //    var marker = new google.maps.Marker({
            //        position: targetLatLng,
            //        map: map,
            //        title: 'Target'
            //    });

            //    var marker = new google.maps.Marker({
            //        position: ralphsLatLng,
            //        map: map,
            //        title: 'Ralph\s'
            //    });

            //    var marker = new google.maps.Marker({
            //        position: commissaryLatLng,
            //        map: map,
            //        title: 'Commissary'
            //    });

            //    infoWindow = new google.maps.InfoWindow;

            //    // Try HTML5 geolocation.
            //    if (navigator.geolocation) {
            //        navigator.geolocation.getCurrentPosition(function (position) {
            //            var pos =
            //            {
            //                lat: position.coords.latitude,
            //                lng: position.coords.longitude
            //            };

            //            infoWindow.setPosition(pos);
            //            infoWindow.setContent('You are Here!');
            //            infoWindow.open(map);
            //            map.setCenter(pos);


            //        },
            //            function () {
            //                handleLocationError(true, infoWindow, map.getCenter());
            //            });
            //    }
            //    else {
            //        // Browser doesn't support Geolocation
            //        handleLocationError(false, infoWindow, map.getCenter());
            //    }
            //}

            //function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            //    infoWindow.setPosition(pos);
            //    infoWindow.setContent(browserHasGeolocation ?
            //        'Error: The Geolocation service failed.' :
            //        'Error: Your browser doesn\'t support geolocation.');
            //    infoWindow.open(map);
            //}

                var markers = [];
                var walmartLatLng = { lat: 33.176995, lng: -117.297396 };
                var albertsonsLatLng = { lat: 33.178966, lng: -117.296605 };
                var targetLatLng = { lat: 33.184252, lng: -117.330131 };
                var ralphsLatLng = { lat: 33.229743, lng: -117.307269 };
                var commissaryLatLng = { lat: 33.227622, lng: -117.392871 };

                map = new google.maps.Map(document.getElementById('map'),
                    {
                        center: { lat: -34.397, lng: 150.644 }, zoom: 12
                    });

                var link = "https://" + window.location.host + "/shoppinglistlines/changestorepreference?id=";
                var iconBase = "https://" + window.location.host + "/Images/";
                var grabandgoimage = {
                    url: iconBase + "googlebagicon.png",
                    //size: new google.maps.Size(50, 50)
                    //origin: new google.maps.Point(0, 0),
                    //anchor: new google.maps.Point(0, 50)
                }



                //var shape = {
                //    coords: [1, 1, 1, 50, 50, 50, 50, 1],
                //    type: 'poly'
                //};

                //var icons = {w
                //    grabandgo: {
                //        icon: iconBase + 'bagicon.png',
                //        scaledSize: new google.maps.Size(33, 33)
                //    }
                //};

                //var features = [
                //    {
                //        position: new google.maps.LatLng(33.227622, -117.392871),
                //        type: 'grabandgo'
                //    }
                //];

                //for (var i = 0; i < features.length; i++) {
                //    var marker = new google.maps.Marker({
                //        position: features[i].position,
                //        icon: icons[features[i].type].icon,
                //        animation: google.maps.Animation.DROP,
                //        map: map
                //    });
                //};
                marker1();
                marker2();
                marker3();
                marker4();
                marker5();

                function marker4() {
                    var marker4 = new google.maps.Marker({
                        position: walmartLatLng,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: grabandgoimage,
                        label: 'Walmart',
                        title: 'Walmart',
                        url: link + '4'
                    });
                    markers.push(marker4);
                    marker4.addListener('click', function () { window.location = marker4.url; });
                }

                function marker5() {
                    var marker5 = new google.maps.Marker({
                        position: albertsonsLatLng,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: grabandgoimage,
                        label: 'Albertson\'s',
                        title: 'Albertson\'s',
                        url: link + '5'
                    });
                    markers.push(marker5);
                    marker5.addListener('click', function () { window.location = marker5.url; });
                }

                function marker2() {
                    var marker2 = new google.maps.Marker({
                        position: targetLatLng,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: grabandgoimage,
                        label: 'Target',
                        title: 'Target',
                        url: link + '2'
                    });
                    markers.push(marker2);
                    marker2.addListener('click', function () { window.location = marker2.url; });
                }

                function marker3() {
                    var marker3 = new google.maps.Marker({
                        position: ralphsLatLng,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: grabandgoimage,
                        label: 'Ralph\s',
                        title: 'Ralph\s',
                        url: link + '3'
                    });
                    markers.push(marker3);
                    marker3.addListener('click', function () { window.location = marker3.url; });
                }

                function marker1() {
                    var marker1 = new google.maps.Marker({
                        position: commissaryLatLng,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: grabandgoimage,
                        //shape: shape,
                        label: 'Commissary',
                        title: 'Commissary',
                        url: link + '1'
                    });
                    markers.push(marker1);
                    marker1.addListener('click', function () { window.location = marker1.url; });
                }
                //marker.setMap(map);

                //google.maps.event.addListener(marker, 'click', function () { window.location = marker.url; });

                //google.maps.event.addListener(marker, 'click', function () { alert(marker.url); });

                //marker.addListener('click', changepreference);


                function changepreference() {
                    window.location.href = marker.url;
                }

                infoWindow = new google.maps.InfoWindow;

                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos =
                        {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('You are Here!');
                        infoWindow.open(map);
                        map.setCenter(pos);


                    },
                        function () {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                }
                else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            }

            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }



        </script>

        <script async defer
                src="@ViewBag.GoogleMaps">
        </script>
